<!doctype html>
<html>
<head>
    <title><%= user.profile.name %> profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <% include ../components/navbar.ejs %>
  <div class="container panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
          <img src="<%= user.profile.pictureUrl %>" alt="profile picture" style="width:100%">
        </div>
        <div class="col-md-9">
          <h2 class="h3">
            <%= user.profile.name %>
            <small>
              <% if (typeof loggedUser !== 'undefined' && user.id === loggedUser.id) {%>
                <a href="/users/profile/edit">(Edit my profile)</a>
              <%}%>
            </small>
        </h2>
          <table class="table">
            <tr>
              <td>City</td>
              <td><%= user.profile.city %></td>
            </tr>
            <tr>
              <td>State</td>
              <td><%= user.profile.state %></td>
            </tr>
            <tr>
              <td>Connected accounts</td>
              <td>
                <% if (user.facebook.token) { %>
                  <a href='<%= 'http://facebook.com/'+ user.facebook.id %>'>
                  <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 200%;"></i>
                  </a>
                <% } %>
                <span> </span>
                <% if (user.twitter.token) { %>
                  <a href='<%= 'http://facebook.com/'+ user.facebook.id %>'>
                  <i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 200%;"></i>
                  </a>
                <% } %>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
